<h1>{{projectName}}</h1>

<div class='container'>
    <div class="row align-items-center">
        <div class="col center-text">
            <h3>Costs</h3>
        </div>
        <div class="col center-text">
            <h3>Progress</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class='title'>
        <h3>Daily Data Log</h3>
    </div>
    <div class="row align-items-center dataTables">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date [YYYY-MM-DD]</th>
                        <th scope="col">Scope</th>
                        <th scope="col">Production</th>
                        <th scope="col">Units</th>
                        <th scope="col">Spend (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2021-07-01</th>
                        <td>Route A</td>
                        <td>100</td>
                        <td>Line km</td>
                        <td>55000.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2021-07-02</th>
                        <td>Route A</td>
                        <td>50</td>
                        <td>Line km</td>
                        <td>27500.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2021-07-03</th>
                        <td>Route A</td>
                        <td>200</td>
                        <td>Line km</td>
                        <td>110000.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="container" id="btnDiv">
    <div class="center">
        <a class="btn btn-primary" href="/projects" role="button">Go back to Projects</a>
    </div>
</div>