<h1>Report an issue</h1>

<div class="container" id="reportDiv">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address (so we can contact you)</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Describe the issue:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary" id="newProjectBtn">Submit</button>
</div>

<div class="container" id="btnDiv">
    <div class="center">
        <a class="btn btn-primary" href="/projects" role="button">Go back to Projects</a>
    </div>
</div>