<h1>Report an issue</h1>

<div class="container" id="reportDiv">
    <form id="issueForm">
        <div class="mb-3">
            <label for="email" class="form-label">Email address (so we can contact you)</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Describe the issue:</label>
            <textarea class="form-control" id="description" maxlength="10000" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary" id="newProjectBtn">Submit</button>
    </form>
</div>

<div id="updateDiv"></div>

<div class="container" id="btnDiv">
    <div class="center">
        <a class="btn btn-primary" href="/projects" role="button">Go back to Projects</a>
    </div>
</div>

<script src="/newIssue.js"></script>